<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>924181F31C3E4BD500FBD4EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9241820F1C3E4BD600FBD4EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9241821A1C3E4BD600FBD4EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
